@model List<Game.Domain.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Comment</h2>

@foreach (var item in Model)
{
    Response.Write(item.Name + "<br />");
}


@foreach (var item in ViewBag.popularGames)
{
    Response.Write(item.Name + "<br />");
}
