<footer id="footer">
    <div class="container">
        <div class="fbox">
            <div class="footerinfo-left">
                <div class="Row">
                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="http://m.kraloyun.com/" rel="follow" title="KralOyun Mobil">KralOyun Mobil</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/KralOyun-Haber" rel="follow" title="KralOyun Haber">KralOyun Haber</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Kraloyun-Kurallari" rel="follow" title="KralOyun Kuralları">KralOyun Kuralları</a>
                    </div>
                </div>

                <div class="Row">
                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Velilerin-Dikkatine" rel="follow" title="Velilerin Dikkatine">Velilerin Dikkatine</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Kullanim-Sozlesmesi" rel="follow" title="Kullanım Sözleşmesi">Kullanım Sözleşmesi</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Oyun-Ekle-Gonder" rel="follow" title="Oyun Ekle / Gönder">Oyun Ekle / Gönder</a>
                    </div>
                </div>
                <strong>Oyun - En Kral Oyunlar KralOyun.com'da Oynanır</strong>

                <div class="Row">
                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="http://m.kraloyun.com/" rel="follow" title="KralOyun Mobil">KralOyun Mobil</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/KralOyun-Haber" rel="follow" title="KralOyun Haber">KralOyun Haber</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Kraloyun-Kurallari" rel="follow" title="KralOyun Kuralları">KralOyun Kuralları</a>
                    </div>
                </div>

                <div class="Row">
                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Velilerin-Dikkatine" rel="follow" title="Velilerin Dikkatine">Velilerin Dikkatine</a>
                    </div>

                    <div class="list">
                        <span class="bullet">•</span>
                        <a href="/Sabit/Kullanim-Sozlesmesi" rel="follow" title="Kullanım Sözleşmesi">Kullanım Sözleşmesi</a>
                    </div>
                </div>
            </div>
            <div class="footerinfo-right">
                <h4>KralOyun - 2004'den beri Ücretsiz Online Oyun Sitesi</h4>
                <p>Türkiye'nin lider oyun sitesi <a href="http://www.kraloyun.com" title="KralOyun" target="_self">KralOyun</a>.com'a hoşgeldin. 7'den 70'e her yaş grubunun ziyaret ettiği oyun portalımızda, 10.000'den fazla oyun yer aldığını biliyor muydun? Üstelik her gün eklenen <a href="http://www.kraloyun.com/Yeni-Oyunlar" title="Yeni Oyunlar" target="_blank">yeni oyunlar</a>ı, içerik denetiminden geçirerek, sana daha güvenli bir ortam sunuyoruz.</p>
            </div>
        </div>
    </div>
</footer>