<header>
    <div class="container">
        <div class="intro-text">
            <h1 class="main-title">Bütün Oyunları Online Bedava Oynayabileceğiniz Oyun Sitesi, İyi Eğlenceler.</h1>
            <div class="mainNavigation">
                <ul>
                    <li class="subnavigationLeft"><a href="/yaris-oyunlari" title="Yarış Oyunları" class="firstLevel"></a></li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon1.png"><h3>Kız</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon2.png"><h3>Yarış</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon3.png"><h3>Spor</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon4.png"><h3>Beceri</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon5.png"><h3>Macera</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon6.png"><h3>Zeka</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon7.png"><h3>Birleştir</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <a href="/yaris-oyunlari" title="Yarış Oyunları"><img src="/static/img/icons/icon8.png"><h3>Beceri</h3></a>
                    </li>
                    <li class="subnavigationLeft">
                        <div class="search">
                            <div class="searchin">
                                <form method="get" action="/arama/">
                                    <input type="search" name="q" class="search-field clearme" value="Oyun ara...">
                                    <input type="submit" class="search-btn" value=" ">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
