@{
    ViewBag.Title = "Home Page";
}
<section id="main">
    <div class="container">
        @Html.Partial("~/Views/Shared/_LeftMenuCategory.cshtml")
        <div class="right">
            @Html.Partial("~/Views/Shared/Home/_NewGames.cshtml")
           @Html.Partial("~/Views/Shared/Home/_PopularGames.cshtml")

        </div>
    </div>
</section>
<section id="main">
    <div class="container">
        <div class="middle">
            <div class="c-popular">
                <div class="title"><h2>En Popüler Oyunlar</h2> <span></span></div>
                <div class="popular">
                    <a title="Gece Savaşanlar" href="http://www.sunoyun.com/gece-savasanlar">
                        <img src="http://img.sunoyun.com/2/2014-08/gece-savasanlar.jpg" alt="Gece Savaşanlar" class="resim">
                        <p>Gece Savaşanlar</p>
                        <span class="category">2 Kişilik Oyunlar</span>
                        <span class="order">#10</span>
                    </a>
                </div>
                <div class="popular">
                    <a title="Gece Savaşanlar" href="http://www.sunoyun.com/gece-savasanlar">
                        <img src="http://img.sunoyun.com/2/2014-08/gece-savasanlar.jpg" alt="Gece Savaşanlar" class="resim">
                        <p>Gece Savaşanlar</p>
                        <span class="category">2 Kişilik Oyunlar</span>
                        <span class="order">#10</span>
                    </a>
                </div>
            </div>

            <div class="c-popular">
                <div class="title"><h2>En Popüler Oyunlar</h2> <span></span></div>
                <div class="popular">
                    <a title="Gece Savaşanlar" href="http://www.sunoyun.com/gece-savasanlar">
                        <img src="http://img.sunoyun.com/2/2014-08/gece-savasanlar.jpg" alt="Gece Savaşanlar" class="resim">
                        <p>Gece Savaşanlar</p>
                        <span class="category">2 Kişilik Oyunlar</span>
                        <span class="order">#10</span>
                    </a>
                </div>
            </div>

            <div class="c-popular">
                <div class="title"><h2>En Popüler Oyunlar</h2> <span></span></div>
                <div class="popular">
                    <a title="Gece Savaşanlar" href="http://www.sunoyun.com/gece-savasanlar">
                        <img src="http://img.sunoyun.com/2/2014-08/gece-savasanlar.jpg" alt="Gece Savaşanlar" class="resim">
                        <p>Gece Savaşanlar</p>
                        <span class="category">2 Kişilik Oyunlar</span>
                        <span class="order">#10</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>